WXT_ROTATION_FILE_COUNT=5
WXT_ROTATION_RECORD_LIMIT=200
WXT_EXPORT_FILE_NAME=puda_palafito_history.json
WXT_OAUTH_CLIENT_ID=804553902816-erbmmrr4cgsrmf58sclukrhig69hgc5d.apps.googleusercontent.com
WXT_EXTENSION_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAu0zg/OPX8tHKCqFBQmt352fetC27Quju3aiAuo20Ze6qHlj8vItyPkLTSQGvZ8NAjvMQcy1LrjO1aBRb6C/a4nSQeqDzDU7KmEofbYbG+mAe/fVf24mLl2AAmJEU/89dgzBlj+9bNgU/UTAvpx9Zj94ArwPhjmfpPI79jTURHoAjj7XIKWyJa0eVRACcIWYB+QEqU5jA2a+hsuMnDiEAe8ao2g3zWuHdYcJYyBn4GzR7mJI+6bXaCxkSzy2SlzlmE1R0Ag4gyhYK1bFJTPthGzKiu65/ZISn9Wm7/c4zX1vqDVs7d8eekOCDt26maq9WIJyq9fynTMUSLA5zBlvWfwIDAQAB
